In [3]:
# import geopandas of geometry boundaries
import geopandas as gpd
# import pandas for dataframe manipulation
import pandas as pd
# import numpy for matrix computation
import numpy as np
# for manage env variable
import os
import datetime
# connect to postgresql database
import psycopg2
# manage database connection and querying
from sqlalchemy import create_engine
# load env variable
from dotenv import load_dotenv
# OR, explicitly providing path to '.env'
from pathlib import Path  # python3 only
env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)
# manipulate string patterns
import re
# for http request
import requests

Error: Jupyter cannot be started. Error attempting to locate jupyter: 'Kernelspec' module not installed in the selected interpreter (C:\Users\Yvel Marcelin\anaconda3\python.exe).
 Please re-install or update 'jupyter'.

In [4]:
def get_posgres_connection():

    db_name = os.getenv("PSQL_DB_NAME")
    db_user = os.getenv("DB_USERNAME")
    db_password = os.getenv("DB_PASSWORD")
    db_host = os.getenv("PSQL_DB_HOST")
    sql_engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:5432/{db_name}')
    return sql_engine

## Data transformation for Date Dimension

In [5]:
engine = get_posgres_connection()
engine

Engine(postgresql://yvel:***@haiti-data.cgz5ttlgvxan.us-east-2.rds.amazonaws.com:5432/postgres)

In [6]:
# create date range function 
def create_date_range(start="2010-01-01",end="2050-12-31"):
    df = pd.DataFrame({"date": pd.date_range(start, end)})
    df['day'] = df.date.dt.day
    df['day_name'] = df.date.dt.strftime('%a')
    df['month'] = df.date.dt.month
    df['month_name'] = df.date.dt.strftime('%b')
    df["date_of_week"] = df.date.dt.dayofweek
    df["week"] = df.date.dt.weekofyear
    df["quarter"] = df.date.dt.quarter
    df["semester"] = (df.quarter + 1) // 2
    df["year"] = df.date.dt.year
   

    return df

In [7]:
dim_date= create_date_range()

In [8]:
dim_date.to_csv("output/dim_date.csv")

## Departement Dimension

,ADM1_EN,ADM1_FR,ADM1_HT,ADM1_PCODE,geometry
0,Artibonite,Artibonite,Latibonit,HT05,"POLYGON ((-72.69573 19.81251, -72.69408 19.811..."
1,Centre,Centre,Sant,HT06,"POLYGON ((-71.98404 19.33367, -71.98348 19.332..."
2,Grande'Anse,Grande'Anse,Grandans,HT08,"MULTIPOLYGON (((-73.75492 18.64331, -73.75429 ..."
3,Nippes,Nippes,Nip,HT10,"POLYGON ((-73.56737 18.58722, -73.56536 18.585..."
4,North,Nord,Nò,HT03,"POLYGON ((-72.55529 19.87769, -72.55468 19.877..."
5,North-East,Nord-Est,Nòdès,HT04,"POLYGON ((-71.96148 19.73427, -71.96014 19.733..."
6,North-West,Nord-Ouest,Nòdwès,HT09,"MULTIPOLYGON (((-72.81638 19.95254, -72.81031 ..."
7,South,Sud,Sid,HT07,"MULTIPOLYGON (((-73.70372 18.10930, -73.70315 ..."
8,South-East,Sud-Est,Sidès,HT02,"POLYGON ((-72.76129 18.28151, -72.76129 18.281..."
9,West,Ouest,Lwès,HT01,"MULTIPOLYGON (((-73.20477 18.96978, -73.20427 ..."

In [64]:
 # STEP 2
# reads adm2 shapefiles
boudaries_dep = gpd.read_file('data/boundaries/hti_admbnda_adm1_cnigs_20181129.shp')
boudaries_dep.set_geometry('geometry')
# changement de place des colonnes
boudaries_dep = boudaries_dep[['ADM1_PCODE','ADM1_FR','ADM1_EN','ADM1_HT','geometry']]
# rename columns
boudaries_dep = boudaries_dep.rename(columns = {"ADM1_PCODE": "id","ADM1_FR": "name_fr","ADM1_EN": "name_en","ADM1_HT": "name_kr"})
# get long, lat
print( boudaries_dep.geometry.centroid)
boudaries_dep['lat'] = boudaries_dep.geometry.centroid.x
boudaries_dep['long'] = boudaries_dep.geometry.centroid.y
boudaries_dep['source'] = "hti_admbnda_adm1_cnigs_20181129"
boudaries_dep['date_beg'] = "2020-05-15"
boudaries_dep['date_end'] = np.nan
boudaries_dep.to_csv("output/dim_department.csv")
boudaries_dep.head()

0    POINT (-72.56683 19.33210)
1    POINT (-71.98452 19.00959)
2    POINT (-74.13167 18.50678)
3    POINT (-73.39135 18.43222)
4    POINT (-72.29714 19.59977)
5    POINT (-71.88961 19.50842)
6    POINT (-73.03692 19.82083)
7    POINT (-73.71646 18.28010)
8    POINT (-72.36662 18.25424)
9    POINT (-72.42768 18.57927)
dtype: geometry

,id,name_fr,name_en,name_kr,geometry,lat,long,source,date_beg,date_end
0,HT05,Artibonite,Artibonite,Latibonit,"POLYGON ((-72.69573 19.81251, -72.69408 19.811...",-72.566826,19.332095,hti_admbnda_adm1_cnigs_20181129,2020-05-15,NaN
1,HT06,Centre,Centre,Sant,"POLYGON ((-71.98404 19.33367, -71.98348 19.332...",-71.984520,19.009592,hti_admbnda_adm1_cnigs_20181129,2020-05-15,NaN
2,HT08,Grande'Anse,Grande'Anse,Grandans,"MULTIPOLYGON (((-73.75492 18.64331, -73.75429 ...",-74.131674,18.506779,hti_admbnda_adm1_cnigs_20181129,2020-05-15,NaN
3,HT10,Nippes,Nippes,Nip,"POLYGON ((-73.56737 18.58722, -73.56536 18.585...",-73.391350,18.432223,hti_admbnda_adm1_cnigs_20181129,2020-05-15,NaN
4,HT03,Nord,North,Nò,"POLYGON ((-72.55529 19.87769, -72.55468 19.877...",-72.297141,19.599772,hti_admbnda_adm1_cnigs_20181129,2020-05-15,NaN

## Commune Dimension

In [30]:
 # STEP 2
# reads adm2 shapefiles
boundaries_com = gpd.read_file('data/boundaries/hti_admbnda_adm2_cnigs_20181129.shp')
boundaries_com.set_geometry('geometry')
# changement de place des colonnes
boundaries_com = boundaries_com[['ADM2_PCODE','ADM2_FR','ADM2_EN','ADM2_HT','geometry']]
# rename columns
boundaries_com = boundaries_com.rename(columns = {"ADM2_PCODE": "id","ADM2_FR": "name_fr","ADM2_EN": "name_en","ADM2_HT": "name_kr"})
# get long, lat
print( boundaries_com.geometry.centroid)
boundaries_com['lat'] = boundaries_com.geometry.centroid.x
boundaries_com['long'] = boundaries_com.geometry.centroid.y
boundaries_com['source'] = "hti_admbnda_adm2_cnigs_20181129"
boundaries_com['date_beg'] = "2020-05-15"
boundaries_com['date_end'] = np.nan
boundaries_com.to_csv("output/dim_commune.csv")
display(boundaries_com.head())

0      POINT (-74.31571 18.61511)
1      POINT (-72.33346 19.64384)
2      POINT (-72.62560 19.86209)
3      POINT (-71.78735 18.15554)
4      POINT (-73.33403 18.46703)
                  ...
135    POINT (-74.31979 18.33607)
136    POINT (-73.88315 18.24529)
137    POINT (-72.01624 19.58632)
138    POINT (-71.95450 19.44362)
139    POINT (-72.49072 19.02566)
Length: 140, dtype: geometry

,id,name_fr,name_en,name_kr,geometry,lat,long,source,date_beg,date_end
0,HT0812,Abricots,Abricots,None,"POLYGON ((-74.25823 18.65056, -74.25770 18.646...",-74.315712,18.615110,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN
1,HT0321,Acul du Nord,Acul du Nord,None,"POLYGON ((-72.35332 19.78220, -72.35178 19.780...",-72.333459,19.643842,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN
2,HT0922,Anse-à-Foleur,Anse-a-Foleur,None,"POLYGON ((-72.63559 19.90707, -72.63690 19.905...",-72.625602,19.862093,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN
3,HT0234,Anse-à-Pître,Anse-a-Pitre,None,"POLYGON ((-71.74680 18.29270, -71.73949 18.290...",-71.787353,18.155539,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN
4,HT1021,Anse-à-Veau,Anse-a-Veau,None,"POLYGON ((-73.44109 18.52472, -73.44059 18.524...",-73.334028,18.467027,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN

In [ ]:
## Dimension Section Communale

In [31]:
 # STEP 2
# reads adm2 shapefiles
boundaries_sec_com = gpd.read_file('data/boundaries/hti_admbnda_adm3_cnigs_20181129.shp')
boundaries_sec_com.set_geometry('geometry')
# changement de place des colonnes
boundaries_sec_com = boundaries_sec_com[['ADM3_PCODE','ADM3_FR','ADM3_EN','ADM3_HT','geometry']]
# rename columns
boundaries_sec_com = boundaries_sec_com.rename(columns = {"ADM3_PCODE": "id","ADM3_FR": "name_fr","ADM3_EN": "name_en","ADM3_HT": "name_kr"})
# get long, lat
print( boundaries_sec_com.geometry.centroid)
boundaries_sec_com['lat'] = boundaries_sec_com.geometry.centroid.x
boundaries_sec_com['long'] = boundaries_sec_com.geometry.centroid.y
boundaries_sec_com['source'] = "hti_admbnda_adm2_cnigs_20181129"
boundaries_sec_com['date_beg'] = "2020-05-15"
boundaries_sec_com['date_end'] = np.nan
boundaries_sec_com.to_csv("output/dim_sec_com.csv")
display(boundaries_sec_com.head())

0      POINT (-72.30331 18.74618)
1      POINT (-72.85134 18.31731)
2      POINT (-72.55897 18.38220)
3      POINT (-73.15711 18.34431)
4      POINT (-72.59135 18.25980)
                  ...
565    POINT (-72.87794 18.30265)
566    POINT (-73.13347 18.29223)
567    POINT (-74.18527 18.65377)
568    POINT (-72.60591 18.30599)
569    POINT (-71.94710 18.91149)
Length: 570, dtype: geometry

,id,name_fr,name_en,name_kr,geometry,lat,long,source,date_beg,date_end
0,HT0131-10,10e Section des Orangers,10e Section des Orangers,None,"POLYGON ((-72.29680 18.81696, -72.29264 18.817...",-72.303306,18.746178,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN
1,HT0122-10,10e Section des Palmes,10e Section des Palmes,None,"POLYGON ((-72.86125 18.35839, -72.85974 18.355...",-72.851344,18.317307,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN
2,HT0121-10,10e Section Fond d'Oie,10e Section Fond d'Oie,None,"POLYGON ((-72.52483 18.40687, -72.52381 18.405...",-72.558970,18.382198,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN
3,HT0731-10,10e Section Guirand,10e Section Guirand,None,"POLYGON ((-73.13994 18.36475, -73.13901 18.364...",-73.157106,18.344305,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN
4,HT0211-10,10e Section La Vanneau,10e Section La Vanneau,None,"POLYGON ((-72.62840 18.29668, -72.62444 18.294...",-72.591349,18.259800,hti_admbnda_adm2_cnigs_20181129,2020-05-15,NaN

In [ ]:
 # STEP 2
# reads adm2 shapefiles
boundaries_com = gpd.read_file('data/boundaries/hti_admbnda_adm2_cnigs_20181129.shp')
boundaries_com.set_geometry('geometry')
# changement de place des colonnes
boundaries_com = boundaries_com[['ADM2_PCODE','ADM2_FR','ADM2_EN','ADM2_HT','geometry']]
# rename columns
boundaries_com = boundaries_com.rename(columns = {"ADM2_PCODE": "id","ADM2_FR": "name_fr","ADM2_EN": "name_en","ADM2_HT": "name_kr"})
# get long, lat
print( boundaries_com.geometry.centroid)
boundaries_com['lat'] = boundaries_com.geometry.centroid.x
boundaries_com['long'] = boundaries_com.geometry.centroid.y
boundaries_com['source'] = "hti_admbnda_adm2_cnigs_20181129"
boundaries_com['date_beg'] = "2020-05-15"
boundaries_com['date_end'] = np.nan
boundaries_com.to_csv("output/dim_commune.csv")
display(boundaries_com.head())

## Dimension KPI Description

In [79]:
spa_2017 =pd.read_json("data/datasets/spa_2017.json")
spa_2017.columns
kpi_list = list(set(spa_2017.columns))
df = pd.DataFrame({"id": kpi_list})
df['name_en'] = df['id'].str.replace("_"," ")
df['name_fr'] = df['id'].str.replace("_"," ")
df['description'] = df['id'].str.replace("_","")
df['sources'] = "spa2017"
df['date_beg'] = "2020-05-15"
df['date_end'] = np.nan
df.to_csv("output/dim_key.csv")

In [45]:
spa_2017.head()

,index,FACIL,DEPART,DEPARTN,VILCOM,VILCOMN,FACTYPE,MGA,FTYPE,num_beds,...,24_hour_staff_2,24_hour_staff_3,water_onsite,water_running,soap,alcohol_rub,gloves,masks,gowns,eye_protection
0,0,1,1,Ouest,11,Port-Au-Prince,7,3,1,NaN,...,NaN,NaN,NaN,1.0,1.0,3.0,1.0,3.0,3.0,3.0
1,1,2,1,Ouest,11,Port-Au-Prince,3,1,1,25.0,...,1.0,1.0,NaN,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,2,3,1,Ouest,11,Port-Au-Prince,6,3,1,201.0,...,1.0,2.0,NaN,1.0,1.0,3.0,1.0,3.0,1.0,3.0
3,3,4,1,Ouest,11,Port-Au-Prince,5,3,1,7.0,...,2.0,NaN,NaN,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,4,5,1,Ouest,11,Port-Au-Prince,6,2,1,NaN,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,3.0

In [63]:
# num_beds
num_beds = spa_2017.groupby(['DEPART','VILCOM']).num_beds.sum().to_frame().reset_index().rename(columns ={"DEPART":"id_dep_fk","VILCOM":"id_com_fk","num_beds":"values"})
num_beds['id_sec_com_fk'] = np.nan
num_beds['id_kpi_desc_fk']= 'num_beds'
num_beds['id_date_fk'] = '2020-05-15'
num_beds['source'] = 'spa_2017'
num_beds['date_beg'] = '2020-05-15'
num_beds['date_beg'] = np.nan
num_beds=num_beds[['id_dep_fk', 'id_com_fk','id_sec_com_fk' ,'id_kpi_desc_fk','id_date_fk','values','source']]
num_beds.head()

,id_dep_fk,id_com_fk,id_sec_com_fk,id_kpi_desc_fk,id_date_fk,values,source
0,1,1,NaN,num_beds,2020-05-15,5.0,spa_2017
1,1,2,NaN,num_beds,2020-05-15,0.0,spa_2017
2,1,11,NaN,num_beds,2020-05-15,1276.0,spa_2017
3,1,12,NaN,num_beds,2020-05-15,1052.0,spa_2017
4,1,13,NaN,num_beds,2020-05-15,187.0,spa_2017

In [71]:
def generate_PCODE(depart):
     code = '00'+ str(depart)
     return 'HT'+ code[len(code)-2:]
     
def generate_PCODE2(vilcom):
     code = '00'+ str(vilcom)
     return code[len(code)-2:]

In [72]:
generate_PCODE(1)+generate_PCODE2(10)

'HT0110'

In [73]:
num_beds['id_dep_fk'] =num_beds['id_dep_fk'].apply(lambda x: generate_PCODE(x))

In [74]:
num_beds.head()

,id_dep_fk,id_com_fk,id_sec_com_fk,id_kpi_desc_fk,id_date_fk,values,source
0,HT01,1,NaN,num_beds,2020-05-15,5.0,spa_2017
1,HT01,2,NaN,num_beds,2020-05-15,0.0,spa_2017
2,HT01,11,NaN,num_beds,2020-05-15,1276.0,spa_2017
3,HT01,12,NaN,num_beds,2020-05-15,1052.0,spa_2017
4,HT01,13,NaN,num_beds,2020-05-15,187.0,spa_2017

In [76]:
num_beds['id_com_fk'] =num_beds['id_dep_fk'].apply(lambda x: generate_PCODE(x))+num_beds['id_com_fk'].apply(lambda x: generate_PCODE2(x))

In [78]:
num_beds.to_csv("output/dim_fact_table.csv")