In [3]:
# import geopandas of geometry boundaries
import geopandas as gpd
# import pandas for dataframe manipulation
import pandas as pd
# import numpy for matrix computation
import numpy as np
# for manage env variable
import os
import datetime
# connect to postgresql database
import psycopg2
# manage database connection and querying
from sqlalchemy import create_engine
# load env variable
from dotenv import load_dotenv
# OR, explicitly providing path to '.env'
from pathlib import Path  # python3 only
env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)
# manipulate string patterns
import re
# for http request
import requests

In [4]:
def get_posgres_connection():

    db_name = os.getenv("PSQL_DB_NAME")
    db_user = os.getenv("DB_USERNAME")
    db_password = os.getenv("DB_PASSWORD")
    db_host = os.getenv("PSQL_DB_HOST")
    sql_engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:5432/{db_name}')
    return sql_engine

## Data transformation for Date Dimension

In [25]:
# create date range function 
def create_date_range(start="2020-01-01",end="2040-12-31"):
    df = pd.DataFrame({"Date": pd.date_range(start, end)})
    df['day'] = df.Date.dt.day
    df['month'] = df.Date.dt.month
    df['month_name'] = df.Date.dt.strftime('%b')
    df["date_of_week"] = df.Date.dt.dateofweek
    df["week"] = df.Date.dt.weekofyear
    df["quarter"] = df.Date.dt.quarter
    df["year"] = df.Date.dt.year
    df["semester"] = (df.quarter + 1) // 2

    return df

In [26]:
create_date_range()

           Date  day  month month_name  week  quarter  year  semester
0    2020-01-01    1      1        Jan     1        1  2020         1
1    2020-01-02    2      1        Jan     1        1  2020         1
2    2020-01-03    3      1        Jan     1        1  2020         1
3    2020-01-04    4      1        Jan     1        1  2020         1
4    2020-01-05    5      1        Jan     1        1  2020         1
...         ...  ...    ...        ...   ...      ...   ...       ...
7666 2040-12-27   27     12        Dec    52        4  2040         2
7667 2040-12-28   28     12        Dec    52        4  2040         2
7668 2040-12-29   29     12        Dec    52        4  2040         2
7669 2040-12-30   30     12        Dec    52        4  2040         2
7670 2040-12-31   31     12        Dec     1        4  2040         2

[7671 rows x 8 columns]