In [1]:
import pandas as pd
import numpy as numpy

## Dimension Departement

In [5]:
dim_departement = pd.read_excel('orientation_dataset/orientation2.xlsx',sheet_name="DimDepartment")
dim_departement

  variable_name            variable_description variable_type
0            id           primary key of  table        string
1       name_fr  nom de la variable en français        string
2       name_en     name of boundary in english        string
3       name_kr       non varyab sila en kreyòl        string
4          long                      longitude        numeric
5           lat                        latitude       numeric
6      geometry            geometry of boundary      geometry
7        source                  source of data        string
8       dat_beg                        date beg          date
9      data_end                        date end          date

## Dimension Commune

In [6]:
dim_commune = pd.read_excel('orientation_dataset/orientation2.xlsx',sheet_name="DimCommune")
dim_commune

  variable_name            variable_description variable_type
0            id           primary key of  table        string
1       name_fr  nom de la variable en français        string
2       name_en     name of boundary in english        string
3       name_kr       non varyab sila en kreyòl        string
4          long                      longitude        numeric
5           lat                        latitude       numeric
6      geometry            geometry of boundary      geometry
7        source                  source of data        string
8       dat_beg                        date beg          date
9      data_end                        date end          date

## Dimension Section Communale

In [7]:
dim_sec_com= pd.read_excel('orientation_dataset/orientation2.xlsx',sheet_name="DimSecCommunale")
dim_sec_com

  variable_name            variable_description variable_type
0            id           primary key of  table        string
1       name_fr  nom de la variable en français        string
2       name_en     name of boundary in english        string
3       name_kr       non varyab sila en kreyòl        string
4          long                      longitude        numeric
5           lat                        latitude       numeric
6      geometry            geometry of boundary      geometry
7        source                  source of data        string
8       dat_beg                        date beg          date
9      data_end                        date end          date

## Dimension KPI Description

In [8]:
dim_kpi_desc= pd.read_excel('orientation_dataset/orientation2.xlsx',sheet_name="DimKPIDescription")
dim_kpi_desc

  variable_name            variable_description variable_type
0            id           primary key of  table        string
1       name_fr  nom de la variable en français        string
2       name_en     name of boundary in english        string
3       name_kr       non varyab sila en kreyòl        string
4   description       describe the kpi variable        string
5        source                  source of data        string
6       dat_beg                        date beg          date
7      data_end                        date end          date

## Dimension Date

In [9]:
dim_date= pd.read_excel('orientation_dataset/orientation2.xlsx',sheet_name="DimDate")
dim_date

   variable_name variable_description variable_type
0             id          primary key        string
1           date                 date      datetime
2            day           day number        number
3       week_day          day of week        number
4    week_number     week of the year        number
5          month          moth number        number
6           year                year         number
7        quarter        quater number        number
8       semester      semester number        number
9       day_name             day name        string
10    month_name           month name        string

## Key Performance Indicator (KPI) Fact Table

In [10]:
fact_kpi= pd.read_excel('orientation_dataset/orientation2.xlsx',sheet_name="FactKPITable")
fact_kpi

    variable_name           variable_description variable_type
0       id_dep_fk    foreign key  DimDepartement        string
1       id_com_fk        foreign key  DimCommune        string
2   id_sec_com_fk    foreign key DimSecCommunale        string
3  id_kpi_desc_fk  foreign key DimKPIDescription        string
4      id_date_fk            foreign key DimDate        string
5           value             value of FactTable        number